<main>
    <div class="position-relative">
      <!-- shape new Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-sandbox">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      
   
       
       
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>


         
              
                
              
            
        
      <!-- 1st Hero Variation -->
    </div>
   
    <section class="section">
        <div class="container" style="margin-top: 1px;">
          <div class="card card-profile shadow mt--300" style="width:95%;">
            
           <div>
               <h2 style="text-align: center;" >Frequntly Asked Questions</h2>
            <ngb-accordion (panelChange)="beforeChange($event)">
                <ngb-panel id="preventchange-1" title="question 1">
                  <ng-template ngbPanelContent>
                   answer 1
                  </ng-template>
                </ngb-panel>
              
              </ngb-accordion>

              <ngb-accordion (panelChange)="beforeChange($event)">
                <ngb-panel id="preventchange-1" title="question 2 ">
                  <ng-template ngbPanelContent>
                    answer 2
                  </ng-template>
                </ngb-panel>
              
              </ngb-accordion>

              <ngb-accordion (panelChange)="beforeChange($event)">
                <ngb-panel id="preventchange-1" title="question 3">
                  <ng-template ngbPanelContent>
                   answer 3
                  </ng-template>
                </ngb-panel>
              
              </ngb-accordion>
              <ngb-accordion (panelChange)="beforeChange($event)">
                <ngb-panel id="preventchange-1" title="question 4">
                  <ng-template ngbPanelContent>
                   answer 4
                  </ng-template>
                </ngb-panel>
              
              </ngb-accordion>
              <ngb-accordion (panelChange)="beforeChange($event)">
                <ngb-panel id="preventchange-1" title="question 5">
                  <ng-template ngbPanelContent>
                   answer 5
                  </ng-template>
                </ngb-panel>
              
              </ngb-accordion>

           </div>
              
            
              
            
          </div>
        </div>
      </section>
  
  
  </main>
  
